server:
  port: 8083

spring:
  application:
    name: ORDER-SERVICE

  datasource:
    url: jdbc:mysql://localhost:3306/orderservice
    username: root
    password: shadabadmin
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

jwt:
  secret: U/VV8DObHyQvtjX5okIz8hcBARrVZDyKFPrUz+6gIXs=
